body, html {
  padding: 0;
  margin: 20px 0;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  color: #444; }
  body h1, body h2, body h3, html h1, html h2, html h3 {
    padding: 0;
    margin: 0; }
  body h1, html h1 {
    font-family: 'Scope One', serif;
    font-weight: 400;
    font-size: 3.6em;
    line-height: 1;
    color: #222; }
    @media screen and (max-width: 1130px) {
      body h1, html h1 {
        font-size: 3em; } }
    @media screen and (max-width: 980px) {
      body h1, html h1 {
        font-size: 2.8em; } }
    @media screen and (max-width: 900px) {
      body h1, html h1 {
        text-align: center;
        font-size: 3.6em; } }
  body h2, html h2 {
    margin-bottom: 40px;
    font-size: 1.4em;
    font-weight: 400; }
    @media screen and (max-width: 900px) {
      body h2, html h2 {
        text-align: center; } }
  body h3, html h3 {
    font-family: 'Scope One', serif;
    font-size: 1.8em;
    margin: 0 0 20px 0;
    color: #335ec0; }
    @media screen and (max-width: 900px) {
      body h3, html h3 {
        text-align: center; } }
  body p, html p {
    font-size: 1em;
    line-height: 1.6em; }
  body .container, html .container {
    max-width: 1200px;
    margin: auto;
    columns: 2;
    column-gap: 120px;
    padding: 0 40px; }
    @media screen and (max-width: 900px) {
      body .container, html .container {
        display: flex;
        flex-direction: column;
        padding: unset; } }
    body .container #contact, html .container #contact {
      margin: 0 0 40px 0;
      font-size: 1em;
      line-height: 1.6em;
      order: 1; }
      @media screen and (max-width: 900px) {
        body .container #contact, html .container #contact {
          text-align: center;
          padding: 0 20px; } }
      body .container #contact #profile-image, html .container #contact #profile-image {
        margin-bottom: 40px;
        border-radius: 50%;
        max-width: 300px; }
      body .container #contact a, html .container #contact a {
        color: #335ec0; }
    body .container #work-experience, html .container #work-experience {
      order: 4; }
      @media screen and (max-width: 900px) {
        body .container #work-experience, html .container #work-experience {
          margin: unset;
          padding: 40px 20px 0 20px; } }
      body .container #work-experience .work-experience-container, html .container #work-experience .work-experience-container {
        margin: 0 0 20px 0; }
        body .container #work-experience .work-experience-container small, html .container #work-experience .work-experience-container small {
          font-size: 0.7em;
          color: #777; }
    body .container #about-me, html .container #about-me {
      margin-left: -80px;
      margin-bottom: 40px;
      order: 2;
      break-before: column; }
      @media screen and (max-width: 900px) {
        body .container #about-me, html .container #about-me {
          margin: unset;
          padding: 20px 20px 0 20px; } }
    body .container #skills, html .container #skills {
      order: 3;
      margin-left: -80px; }
      @media screen and (max-width: 900px) {
        body .container #skills, html .container #skills {
          margin: unset;
          padding: 40px 20px 0 20px; } }
      body .container #skills .skill-container, html .container #skills .skill-container {
        margin: 0 0 20px 0; }

/*# sourceMappingURL=style.css.map */
