body, html {
  padding: 0;
  margin: 20px 0;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  color: #444;

  h1, h2, h3 {
    padding: 0;
    margin: 0;
  }

  h1 {
    font-family: 'Scope One', serif;
    font-weight: 400;
    font-size: 3.6em;
    line-height: 1;
    color: #222;

    @media screen and (max-width: 1130px) {
      font-size: 3em;
    }

    @media screen and (max-width: 980px) {
      font-size: 2.8em;
    }

    @media screen and (max-width: 900px) {
      text-align: center;
      font-size: 3.6em;
    }
  }

  h2 {
    margin-bottom: 40px;
    font-size: 1.4em;
    font-weight: 400;

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }

  h3 {
    font-family: 'Scope One', serif;
    font-size: 1.8em;
    margin: 0 0 20px 0;
    color: #335ec0;

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }

  p {
    font-size: 1em;
    line-height: 1.6em;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    columns: 2;
    column-gap: 120px;
    padding: 0 40px;

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      padding: unset;
    }

    #contact {
      margin: 0 0 40px 0;
      font-size: 1em;
      line-height: 1.6em;
      order: 1;

      @media screen and (max-width: 900px) {
        text-align: center;
        padding: 0 20px;
      }

      #profile-image {
        margin-bottom: 40px;
        border-radius: 50%;
      }

      a {
        color: #335ec0;
      }
    }

    #work-experience {
      order: 4;

      @media screen and (max-width: 900px) {
        margin: unset;
        padding: 40px 20px 0 20px;
      }

      .work-experience-container {
        margin: 0 0 20px 0;

        small {
          font-size: 0.7em;
          color: #777;
        }
      }
    }

    #about-me {
      margin-left: -80px;
      margin-bottom: 40px;
      order: 2;
      break-before: column;

      @media screen and (max-width: 900px) {
        margin: unset;
        padding: 40px 20px 0 20px;
      }
    }

    #skills {
      order: 3;
      margin-left: -80px;

      @media screen and (max-width: 900px) {
        margin: unset;
        padding: 40px 20px 0 20px;
      }

      .skill-container {
        margin: 0 0 20px 0;
      }
    }
  }
}